# GUI
PyQt5==5.15.9
opencv-python

# Core
numpy
pyserial
python-dotenv
pydantic

# DB / ORM
SQLAlchemy
alembic
psycopg2-binary
greenlet
Mako
MarkupSafe

# Security
bcrypt

# Python 3.9 compatibility
typing_extensions
importlib-metadata
importlib-resources
zipp

# QR
pyzbar